table {
  table-layout: fixed;
}
h1{
  margin: 1;
  font-size: 80px;
  color: #820101;
  font-weight: 100;
  text-align: center;
}
#main {
  /*background: url('./img/trump.jpg') no-repeat center center fixed;*/
  width: 40%;
  float: right;
}
#mainTable{
  cellpadding: 0;
  cellspacing: 0;
  width: 100%;
  overflow-x:auto;
}
th.ID {
  width: 0%
}
th.CreatedAt {
  width: 0%;
}
th.Img {
  width: 10%;
}
th.User {
  width: 20%;
}
th.Text {
  width: 70%;
}

/*
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
 */
.tbl-content{
  /*height:500px;*/
  /*margin-top: 0px;*/
  /*border: 1px solid rgba(255,255,255,0.3);*/
}
td{
  padding: 0;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #b1c4e2;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles 

section{
  margin: 5px;
}
*/

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Libre Baskerville', serif;
  background: url('../img/trump.jpg') no-repeat center center fixed;
  background-size: 100%;
}

.poopDiv {
  position: absolute;
}


.dataTables_wrapper .dataTables_length {
  float: right;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: left;
}
