/*https://jsfiddle.net/Lyrjx4zw/5/*/

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Playfair Display SC', serif;
  background: url('../img/trump.jpg') no-repeat center center fixed;
  background-size: 100%;
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*justify-content: center;*/
}

button {
  font-size: 50px;
  background: transparent;
  border: 0px;
}
table {
  table-layout: fixed;
}
.main-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /*border: 1px solid rgba(255,255,255,0.3);*/
}
.header-container {
  flex: 0 1 auto;
  display: flex;
  font-size: 30px;
  padding-top: .3em;
}
.half-container {
  flex: 0 1 50%;
  /*border: 1px solid red;*/
  align-self: center;
  text-align: center;
  color: #91c7f2;
}
.odometer {
  font-size: 35px;
}
.quarter-container {
  flex: 0 1 30%;
  border: 2px solid black;
  border-radius: 25px;
  border-spacing: 3px;

}

.quarter-container img {
  width: 4em;
  height: 4em;
  float: right;
  padding-right: .5em;
}

.body-container {
  flex: 3 0 auto;
  align-self: flex-start;
  padding: 2em;
}


#mainTable{
  cellpadding: 0;
  cellspacing: 0;
  /*width: 25%;*/
  /*overflow-x:auto;*/
}
th.ID {
  width: 0%;
}
th.CreatedAt {
  width: 0%;
}
th.Img {
  width: 10%;
}
th.User {
  width: 20%;
}
th.Text {
  width: 70%;
}
.search {
  text-align: center;
}
/*
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
 */
.tbl-content{
  /*height:500px;*/
  /*margin-top: 0px;*/
  /*border: 1px solid rgba(255,255,255,0.3);*/
}
td{
  padding: 0;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #b1c4e2;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.dataTables_wrapper .dataTables_length {
  display: none;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
}
