/*https://jsfiddle.net/Lyrjx4zw/5/*/

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Libre Baskerville', serif;
  background: url('../img/trump.jpg') no-repeat center center fixed;
  background-size: 100%;
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*justify-content: center;*/
}

h1{
  font-size: 80px;
  color: #820101;
  font-weight: 100;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
}

button {
  font-size: 60px;
  background: transparent;
  border: 0px;
}
table {
  table-layout: fixed;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  /*border: 1px solid rgba(255,255,255,0.3);*/
}
.left-container {
  flex: 0 1 50%;
  display: flex;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 26px;
  color: #3ba5e2;
}

.half-container {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  max-width: 100%;
  padding: .5em;
  /*border: 1px solid red;*/
}
.half-container img {
  width: 25%;
  height: 25%;
}
.right-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-height: 50%;
  align-items: flex-end;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: bold; 
  color: #3ba5e2;

}
.full-container {
  flex: 0 0 100%;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  padding: .5em;
  /*border: 1px lid red;*/
}


.odometer {
  font-size: 50px;
}

#mainTable{
  cellpadding: 0;
  cellspacing: 0;
  /*width: 25%;*/
  /*overflow-x:auto;*/
}
th.ID {
  width: 0%;
}
th.CreatedAt {
  width: 0%;
}
th.Img {
  width: 10%;
}
th.User {
  width: 20%;
}
th.Text {
  width: 70%;
}
.search {
  text-align: center;
}
/*
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
 */
.tbl-content{
  /*height:500px;*/
  /*margin-top: 0px;*/
  /*border: 1px solid rgba(255,255,255,0.3);*/
}
td{
  padding: 0;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #b1c4e2;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.dataTables_wrapper .dataTables_length {
  display: none;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
}
